h1 { 
    color:#3C2187 
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: #9586da;
    color: #3C2187;
    text-align:center;
    margin-right: 50px;
    margin-left: 50px; }
p { 
    color: #3C2187; 
}
figure {
    border: 2px solid black;
    padding: 20px;
 }
 figure img {
    width: 75%;
    height: auto;
}
a{font-weight: bold;
  color:#9586DA;
}
ul li a{
    background: #3C2187;
    text-align: left;
    margin-right: 150px;
    margin-left: 200px;
    list-style: none;
    padding: 10px;
    width: 200px;
    border: 2px solid black;
  }
  ul li a{
    border-bottom: 1px solid black; 
    margin-bottom: 10px;
    margin-top: 5px;
  }
  ul li a{
    color: #9586DA;
    text-decoration: none;
  }
  ul li a:hover {
    text-decoration: underline;
  }
 p {
    text-align:center
}
p img { 
    float: center;
margin-top: 20px
}