body {
    font-family: 'Times New Roman', Times, serif;
    background: #b9adef;
    color: black;
    text-align:center;
    margin-right: 50px;
    margin-left: 50px; 
  }
h1#site-title {
  color: black;
  text-align: center;
  font-size: 72px;
}
h1#article-title {
  color: black;
  text-align: left;
  font-size: 48px;
}
p { 
    color: black; 
}
figure {
    border: 2px solid black;
    padding: 20px;
 }
 figure img {
    width: 75%;
    height: auto;
}
ul {
  div class="topnav";
  background: black;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  margin: 0 auto;
  list-style: none;
  padding: 2px;
  width: 200px;
  border: 2px solid white;}
ul li {
  border-bottom: 1px solid white; 
  padding: 5px;
}
ul li:last-child {
  border-bottom: none;
}
ul li a{
  color: white;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
 p {
    text-align:center
}
p img { 
    float: center;
margin-top: 20px
}